:root {
  --fonte: "Montserrat", sans-serif;
  --branco: #ffff;
  --preto: #000;
  --corCards: #e2e2e2;
}

body {
  margin: 0;
  font-family: var(--fonte);
  background-color: var(--branco);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
